<div class="log-container">
  <div class="log">
    <div class="head">
      <p>Budget Information
        <span class="right">
          <a> <i class="icon file pdf"></i> Save as PDF</a>
          <a> <i class="icon print"></i> Print</a>
        </span>
      </p>
    </div>
    <table class="ui inverted single line table">
      <thead>
        <tr>
          <th>Module Name</th>
          <th>Budget Issued</th>
          <th>Description</th>
          <th>Issued By</th>
          <th>Date</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody *ngIf="budget$ && modules$ && budget$.length > 0 && modules$.length > 0">
        <tr *ngFor="let budget of budget$">
          <td>{{ getModuleName(budget.module) }}</td>
          <td>${{ budget.amount }}</td>
          <td>{{ budget.description }}</td>
          <td>{{ budget.issued_by }}</td>
          <td>{{ budget.date }}</td>
          <!-- <td>
            <a><i class="icon file pdf"></i> Save</a>
            <a><i class="icon print"></i>Print</a>
          </td> -->
        </tr>
        <!-- <tr>
          <td>Maintenance Module</td>
          <td>1,00,000</td>
          <td>Budget was issued for school maintenance.</td>
          <td>Accountant</td>
          <td>September 14, 2019</td>
          <td>

            <a><i class="icon file pdf"></i> Save</a>
            <a><i class="icon print"></i>Print</a>
          </td>
        </tr>
        <tr>
          <td>Maintenance Module</td>
          <td>1,00,000</td>
          <td>Budget was issued for school maintenance.</td>
          <td>Accountant</td>
          <td>September 14, 2019</td>
          <td>

            <a><i class="icon file pdf"></i> Save</a>
            <a><i class="icon print"></i>Print</a>
          </td>
        </tr>
        <tr>
          <td>Maintenance Module</td>
          <td>1,00,000</td>
          <td>Budget was issued for school maintenance.</td>
          <td>Accountant</td>
          <td>September 14, 2019</td>
          <td>

            <a><i class="icon file pdf"></i> Save</a>
            <a><i class="icon print"></i>Print</a>
          </td>
        </tr>
        <tr>
          <td>Maintenance Module</td>
          <td>1,00,000</td>
          <td>Budget was issued for school maintenance.</td>
          <td>Accountant</td>
          <td>September 14, 2019</td>
          <td>

            <a><i class="icon file pdf"></i> Save</a>
            <a><i class="icon print"></i>Print</a>
          </td>
        </tr>
        <tr>
          <td>Maintenance Module</td>
          <td>1,00,000</td>
          <td>Budget was issued for school maintenance.</td>
          <td>Accountant</td>
          <td>September 14, 2019</td>
          <td>

            <a><i class="icon file pdf"></i> Save</a>
            <a><i class="icon print"></i>Print</a>
          </td>
        </tr>
        <tr>
          <td>Maintenance Module</td>
          <td>1,00,000</td>
          <td>Budget was issued for school maintenance.</td>
          <td>Accountant</td>
          <td>September 14, 2019</td>
          <td>

            <a><i class="icon file pdf"></i> Save</a>
            <a><i class="icon print"></i>Print</a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <!-- <div class="pagination-wrapper">
    <div class="ui pagination inverted menu">
      <a class="active item">
        1
      </a>
      <div class="disabled item">
        ...
      </div>
      <a class="item">
        10
      </a>
      <a class="item">
        11
      </a>
      <a class="item">
        12
      </a>
    </div>
  </div> -->
</div>
