<div class="wrapper">
  <div class="form-container">
    <div class="form0">
      <h2 class="ui header">
        <i class="shipping fast icon"></i>
        Issue Budget
      </h2>
      <form class="ui form inverted">
        <div class="field">
          <label>Title</label>
          <input type="text" placeholder="Salary">
        </div>

        <div class="field">
          <label>Module</label>
          <select>
            <option value="">Select</option>
            <option value="1">Salary Module</option>
            <option value="0">Maintenance Module</option>
          </select>
        </div>

        <div class="field">
          <label>Budget</label>
          <input type="number" placeholder="Budget">
        </div>
        <div class="field">
          <label>Description</label>
          <textarea rows="2" placeholder="Salary Module requested 50,000"></textarea>
        </div>
        <div class="field btn">
          <button class="ui button" type="button">Issue Budget</button>
        </div>
      </form>
    </div>
  </div>
</div>
