<div class="wrapper">
  <div class="form-container">
    <div class="form0">
      <h2 class="ui header">
        <i class="servicestack icon"></i>
        Create Sub Module
      </h2>
      <form class="ui form inverted">
        <div class="field">
          <label>Name</label>
          <input type="text" placeholder="Classroom">
        </div>

        <div class="field">
          <label>Description</label>
          <textarea rows="2" placeholder="This module inculdes classrooms etc"></textarea>
        </div>
        <div class="field btn">
          <button class="ui button" type="button">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
