<div class="wrapper">
  <div class="inner">
    <p class="headline">Sub Modules - School Expense Module</p>
    <div class="ui grid container">

      <!-- <div class="eight wide column content-wrapper">One</div>
        <div class="eight wide column content-wrapper">TWO</div> -->
      <div class="three column row">
        <div class="column">
          <div class="ui segment content-wrapper">
            <div class="top right">
              <a title="Delete this module"> <i class="icon trash"></i> </a>
            </div>
            <div class="ui statistic">
              <div class="label">
                School Maintenance
              </div>
              <div class="value">
                Module
              </div>
              <p style="text-align: right; margin-top: 1rem;">
                <a class="ui labeled inverted icon button" [routerLink]="['/budget-log']">
                  <i class="icon eye"></i>
                  View Log
                </a>
                <a class="ui labeled inverted icon button" [routerLink]="['/issue-budget']">
                  <i class="icon shipping fast"></i>
                  Issue Budget
                </a>

              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui segment content-wrapper">
            <div class="top right">
              <a title="Delete this module"> <i class="icon trash"></i> </a>
            </div>
            <div class="ui statistic">
              <div class="label">
                Staff Salary
              </div>
              <div class="value">
                Module
              </div>
              <p style="text-align: right; margin-top: 1rem;">
                <a class="ui labeled inverted icon button" [routerLink]="['/budget-log']">
                  <i class="icon eye"></i>
                  View Log
                </a>
                <a class="ui labeled inverted icon button" [routerLink]="['/issue-budget']">
                  <i class="icon shipping fast"></i>
                  Issue Budget
                </a>

              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui segment content-wrapper">
            <div class="ui statistic">
              <div class="label">
                Add Another
              </div>
              <div class="value">
                Module
              </div>
              <p style="text-align: right; margin-top: 1rem;">
                <a class="ui labeled inverted icon button" [routerLink]="['/add-module']">
                  <i class="icon service stack"></i>
                  Create Sub Module
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
