<div class="chart-container">
  <div class="chart">
    <app-chart></app-chart>
  </div>
  <span>  Budget Issued - Graphical Representation</span>
</div>

<div class="statics-container">
  <div class="ui grid container">
    <!-- <div class="eight wide column content-wrapper">One</div>
    <div class="eight wide column content-wrapper">TWO</div> -->
    <div class="three column row">
      <div class="column">
        <div class="ui segment content-wrapper">
          <div class="ui statistic">
            <div class="label">
              Total Budget Issued
            </div>
            <div class="value">
              50,00,000
            </div>
            <p style="text-align: right; margin-top: 1rem;">
              <a class="ui labeled inverted icon button">
                <i class="icon eye"></i>
                View Log
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment content-wrapper">
          <div class="ui statistic">
            <div class="label">
              Add Sub Module
            </div>
            <div class="value">
              Module
            </div>
            <p style="text-align: right; margin-top: 1rem;">
              <a class="ui labeled inverted icon button">
                <i class="icon plus circle"></i>
                Create Sub Module
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment content-wrapper">
          <div class="ui statistic">
            <div class="label">
              Add Budget Request
            </div>
            <div class="value">
              ISSUAnce
            </div>
            <p style="text-align: right; margin-top: 1rem;">
              <a class="ui labeled inverted icon button">
                <i class="icon shipping fast"></i>
                Issue Budget
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
